<div class="detail-page">
  <div class="back-button" ng-click="vm.backToHome()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Back</span>
  </div>
  <div class="artist">
    <div class="details">
      <div class="picture">
        <img ng-src="{{ vm.artist.details.thumb_url }}" alt="Artist Picture">
      </div>
      <div class="information">
        <h1 class="name">{{ vm.artist.details.name }}</h1>
        <div class="facebook">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-24.png" alt="Facebook Icon" class="icon">
          <span ng-if="vm.artist.details.facebook_page_url == ''"
                class="url">No facebok profile.</span>
          <span ng-if="vm.artist.details.facebook_page_url != ''"
                class="url">{{ vm.artist.details.facebook_page_url }}</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="events">
      <h4 ng-if="vm.artist.events.length > 0">EVENTS</h4>
      <h4 ng-if="vm.artist.events.length == 0">NO EVENTS AVAILABLE</h4>
      <div class="events-wrapper">
        <div class="event" ng-repeat="event in vm.artist.events">
          <div class="event-wrapper">
            <span class="venue">
              {{ event.venue.name }}
            </span>
            <div>
              <span class="date">
                {{ event.datetime | date:'MM/dd/yyyy' }}
              </span>
              <span class="location">
                {{ event.venue.city }} - {{ event.venue.country }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="visible-xs-block">
  <div class="artist-videos">
    <div class="video" ng-repeat="video in vm.artist.videos">
      <div class="thumb">
        <a ng-href="https://www.youtube.com/watch?v={{ video.id.videoId }}">
          <img ng-src="{{ video.snippet.thumbnails.medium.url }}"
               alt="Youtube Video Thumbnail">
        </a>
      </div>
      <div class="name">
        <a class="title" ng-href="https://www.youtube.com/watch?v={{ video.id.videoId }}">
          {{ video.snippet.title }}
        </a>
        <span class="channel">{{ video.snippet.channelTitle }}</span>
      </div>
    </div>
  </div>
</div>
